html, body {
    background-color: green;
}

.banner {
    background: url('/images/test.png') repeat;
    height: 800px;
    width: auto;
    -webkit-mask: url('/svg/dibujo.svg');
            mask: url('/svg/dibujo.svg');
    -webkit-mask-repeat: repeat;
            mask-repeat: repeat;
    -webkit-mask-size: 100px 100px;
            mask-size: 100px 100px;
    -webkit-mask-position: bottom;
            mask-position: bottom;
}
