html, body {
    background-color: green;
}

.banner {
    background: url('/images/test.png') repeat;
    height: 800px;
    width: auto;
    mask: url('/svg/dibujo.svg');
    mask-repeat: repeat;
    mask-size: 100px 100px;
    mask-position: bottom;
}
